<div class="page-header">
  <h3>Document #<%= @document.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @document.name %></dd>

      <dt>Type</dt>
      <dd><%= @document.type %></dd>

      <dt>User</dt>
      <dd><%= @document.user_id %></dd>

      <dt>Service</dt>
      <dd><%= @document.service_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/documents" class="btn btn-primary">
        Back
      </a>
      <a href="/documents/<%= @document.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_document/<%= @document.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
